
@font-face{
    font-family: writer;
      src: url('../fonts/type_writer.ttf');
    }
    *{
        font-family: writer
    }
    p{
        margin: 0px;
    }
    body,html{
        height: 100%;
        width: 100%;
        padding: 0px;
        margin: 0px; 
    }
    .show{
        opacity: 1 !important;
    }
    .stage{
        position: relative;
        margin-left: auto;
        margin-right: auto;
    
        width: 100%;
        max-width: 960px;
        min-width: 960px;
    }
    .screen{
        position: relative;
        margin-top: 320px;
        height: 320px;
    }
    .timer{
        position: relative;
        width: 320px;
        height: 320px;
    
    }
    .myscore{
        position: absolute;
        left: 50%;
        top: 50%;
        width: 320px;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        -webkit-transition: opacity 1s, -webkit-transform 1s;
        transition: opacity 1s, -webkit-transform 1s;
        -o-transition: transform 1s, opacity 1s;
        transition: transform 1s, opacity 1s;
        transition: transform 1s, opacity 1s, -webkit-transform 1s;
        text-align: center;
        opacity: 0;
        font-size: 26px;
    }
    .myscore_message--ex{
        color: #59E5AC !important;
    }
    .myscore_message--vg{
        color: #34B7D1 !important;
    }
    .myscore_message--g{
        color: #E39252 !important;
    }
    .myscore p{
        text-align: center;
        font-size: 26px;
    }
    .myscore--show{
        -webkit-transform: translate(-50%, 100%) !important;
            -ms-transform: translate(-50%, 100%) !important;
                transform: translate(-50%, 100%) !important; 
        opacity: 1 !important;
    }
    .instructions{
        position: relative;
        width: 320px;

        /* opacity: 0; */
        -webkit-transition: opacity 1s;
        -o-transition: opacity 1s;
        transition: opacity 1s;
    }
    .instructions_arrow{
        left: 0px;
        top: 110px;
        position: absolute;
        border: 7px solid #333;
        border-top: none;
        border-left: none;
        height: 40px;
        width: 162px;
    }
    .instructions p{
        line-height: 2.1;
        text-align: center;
        font-size: 16px;
        color: #333;
    }
    
    
    .timer p{
        width: 100%;
        height: 125px;
        /* border: 1px solid blue; */
        line-height: 1.5;
        text-align: center;
        font-size:90px;
        color: #333;
    }
    .timer p span{
        margin-right: -25px;
    }
    .timer_ret{
        position: absolute;
        background-color: transparent;
        width: 100%;
        height: 100%;
    }
    .timer_ret .ret{
        width: 64px;
        height: 64px;
        background: #333;
        display: inline-block;
        margin: 0px;
        padding: 0px;
        opacity:0;
        -webkit-transition: opacity 0.5s ease;
        -o-transition: opacity 0.5s ease;
        transition: opacity 0.5s ease;
    }
    .ret--show{
        opacity: 1 !important;
    }
    
    .cta {
        position: absolute;
        display: table;
        width: 175px;
        text-align: center;
        font-size: 32px;
        border: 5px solid #333;
        line-height: 0;
        color: #333;
        padding-top: 30px;
        padding-bottom: 15px;
        padding-left: 20px;
        padding-right: 15px;
        cursor: pointer;
        -webkit-transition: opacity 0.3s;
        -o-transition: opacity 0.3s;
        transition: opacity 0.3s;
        -webkit-box-shadow: 
        1px 1px 0px 0px #333,
        2px 2px 0px 0px #333,
        3px 3px 0px 0px #333,
        4px 4px 0px 0px #333,
        5px 5px 0px 0px #333,
        6px 6px 0px 0px #333,
        7px 7px 0px 0px #333,
        8px 8px 0px 0px #333,
        9px 9px 0px 0px #333,
        10px 10px 0px 0px #333,
        11px 11px 0px 0px #333,
        12px 12px 0px 0px #333;
                box-shadow: 
        1px 1px 0px 0px #333,
        2px 2px 0px 0px #333,
        3px 3px 0px 0px #333,
        4px 4px 0px 0px #333,
        5px 5px 0px 0px #333,
        6px 6px 0px 0px #333,
        7px 7px 0px 0px #333,
        8px 8px 0px 0px #333,
        9px 9px 0px 0px #333,
        10px 10px 0px 0px #333,
        11px 11px 0px 0px #333,
        12px 12px 0px 0px #333;
    
        -webkit-transition: -webkit-transform 0.05s, -webkit-box-shadow 0.05s;
    
        transition: -webkit-transform 0.05s, -webkit-box-shadow 0.05s;
    
        -o-transition: transform 0.05s, box-shadow 0.05s;
    
        transition: transform 0.05s, box-shadow 0.05s;
    
        transition: transform 0.05s, box-shadow 0.05s, -webkit-transform 0.05s, -webkit-box-shadow 0.05s;
    }
    .cta--small{
        position: relative;
        display: inline;
        font-size: 16px;
        border: 2px solid #333;
        padding-top: 7px;
        padding-bottom: 4px;
        padding-left: 7px;
        padding-right: 4px;
        margin-right: 6px;
      
        -webkit-box-shadow: 
        1px 1px 0px 0px #333,
        2px 2px 0px 0px #333,
        3px 3px 0px 0px #333,
        4px 4px 0px 0px #333,
        5px 5px 0px 0px #333;
      
                box-shadow: 
        1px 1px 0px 0px #333,
        2px 2px 0px 0px #333,
        3px 3px 0px 0px #333,
        4px 4px 0px 0px #333,
        5px 5px 0px 0px #333
    
    
    }
    
    .cta_corner{
        position: absolute;
        width: 6px;
        height: 6px;
        background-color: #FFF;
    }
    .cta .cta_corner:nth-child(1){
        top: -6px;
        left: -6px;
        display: none;
    }
    .cta .cta_corner:nth-child(2){
        top: -6px;
        right: -6px;  
        display: none;
    }
    .cta .cta_corner:nth-child(3){
        bottom: -6px;
        left: -6px;
        display: none;
        -webkit-transition: -webkit-transform 0.1s;
        transition: -webkit-transform 0.1s;
        -o-transition: transform 0.1s;
        transition: transform 0.1s;
        transition: transform 0.1s, -webkit-transform 0.1s;
      
    }
    .cta .cta_corner:nth-child(4){
        bottom: -6px;
        right: -6px;
        display: none;
    }
    .time{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 320px;
        height: 100px;
        /* top: 0px;
        right: 0;
        position: absolute; */
        font-size: 46px;
      
        color: #333;
    }
    .time_arrow{
        position: absolute;
        bottom: 0;
        width: 7px;
        height: 100px;
        background-color: #333;
        /* opacity: 0; */
    }
    
    .time_arrow::after{
        position: absolute;
        content: "/";
        margin-right: 0px;
        width: 10px;
        top: -22px;
        left: -22px;
        color: #333;
        /* font-size: 50px; */
    }
    .time_arrow::before{
        position: absolute;
        content: "/";
        margin-right: 0px;
        width: 10px;
        top: -29px;
        left: 12px;
        color: #333;
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg);
    }
    
    .time span{
    font-size: 18px;
    }
    .cta:hover{
        -webkit-transform: translate(1px, 1px);
            -ms-transform: translate(1px, 1px);
                transform: translate(1px, 1px);
    }
    .cta--enable{
        -webkit-transform: translate(0px, 0px);
            -ms-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
    }
    .cta--clicked{
        -webkit-transform: translate(14px, 14px) !important;
            -ms-transform: translate(14px, 14px) !important;
                transform: translate(14px, 14px) !important;
        -webkit-box-shadow: none !important;
                box-shadow: none !important;
    }
    
    .cta--disabled{
        opacity: 0.5;
        cursor: not-allowed;
        pointer-events: none;
     
    }
    .ui{
        position: relative;
        height: 100px;
        width: 320px;
    }
    
    @media (max-width: 576px) { 
     
        .stage{
            min-width: 100%;
            max-width: 100%;
            height: auto;
        }
        .time{
          
            width: 100%;
            height: 120px;
    
            position: relative;
        }
        .time p{
            margin: 0px;
            font-size: 30px;
        }
        .time_arrow{
            display: none;
        }
        .screen{
            margin-top: 0px;
            height: inherit;
        }
        .timer{
        margin-left: auto;
        margin-right: auto;
        width: 320px;
        height: 160px;
        /* -webkit-transform: scale(0.8);
            -ms-transform: scale(0.8);
                transform: scale(0.8); */
        }
        .instructions{
            width: 320px;
            height: 75px;
            padding: 0px !important;
            margin-top: 100px;
        }
        .instructions p{
            margin: 0px;
            font-size: 14px;
            line-height: 1.8;
        }
        .cta--small{
            position: relative;
            display: inline;
            font-size: 14px;
            border: 2px solid #333;
            padding-top: 4px;
            padding-bottom: 2px;
            padding-left: 4px;
            padding-right: 2px;
            margin-right: 6px;
          
            -webkit-box-shadow: 
            1px 1px 0px 0px #333,
            2px 2px 0px 0px #333,
            3px 3px 0px 0px #333;
          
                    box-shadow: 
            1px 1px 0px 0px #333,
            2px 2px 0px 0px #333,
            3px 3px 0px 0px #333;
        
        
        }
     }
    
    
    